# Terraform State Files
**/*.tfstate
**/*.tfstate.backup

# Ignore .terraform directory and lock file
**/.terraform/
**/.terraform.lock.hcl

# Ignore ansible virtual environment
**/.venv/

# Ignore nodejs private ssh key
**/ansible/*.pem